header .edgtf-main-menu li.wpml-ls-item .second.right{
    width: 100%;
    right: auto;
    left: 0px;
    top: 70px;
}

header .edgtf-main-menu li.wpml-ls-item>a:after{
    content: "\f078";
    position: absolute;
    right: 2px;
    font-family: Fontawesome;
    font-size: 10px;
    top: 48%;
    transform: translateY(-50%);
}

header .edgtf-main-menu li.wpml-ls-item .second.right .inner .right{
    padding: 0px !important;
    background: transparent;
    width: 100%;
}

header .edgtf-main-menu li.wpml-ls-item .second.right .inner .right li{
    width: 100%;
}

header .edgtf-main-menu li.wpml-ls-item .second.right .inner .right li a{
    padding: 0px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

header .edgtf-main-menu li.wpml-ls-item .second.right .inner .right li a:after{
    display: none !important;
}

header .edgtf-main-menu li.wpml-ls-item .second.right .inner .right li .item_outer{
    padding: 0px;
}

.edgtf-menu-area-shadow-disable .edgtf-page-header .edgtf-menu-area{
    background-color: transparent;
}

.edgtf-content .edgtf-content-inner>.edgtf-full-width>.edgtf-full-width-inner{
    padding-top: 0px;
    padding-bottom: 0px;
}

.home .edgtf-wrapper-inner .edgtf-content {
    margin-top: -90px;
}

.title-home-left h3{
    font-size: 60px !important;
}

.title-home-left{
    max-width: 50%;
    float: right;
}

.block-title-home-left{
    background-color: #393939;
}

.slide-faq .edgtf-accordion-holder .edgtf-accordion-title{
    height: 100%;
    line-height: 30px;
    padding: 10px 0px;
}

/* style product details */
/*======================================================*/

.single-product.edgtf-woo-single-page .woocommerce-tabs .tabs li{
    margin-right: 0px;
}

.single-product.edgtf-woo-single-page .woocommerce-tabs .tabs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.single-product.edgtf-woo-single-page .woocommerce-tabs p{
    font-size: 14px;
    margin-top: 0px;
}

.single-product.edgtf-woo-single-page .woocommerce-tabs .tabs li.active a{
    background-color: #1abc9c;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    color: #fff;
    text-transform: uppercase;
    padding: 0px 38px ;
    line-height: 48px;
    font-size: 16px ;
    font-weight: 600;
}

.single-product.edgtf-woo-single-page .woocommerce-tabs .tabs li.active a:hover{
    background-color: #1abc9c;
}

.single-product.edgtf-woo-single-page .woocommerce-tabs .tabs li a{
    background-color: #e9e9e9;
    color: #3333338a;
    text-transform: uppercase;
    padding: 0px 38px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 600;
}

.single-product.edgtf-woo-single-page .woocommerce-tabs .tabs li a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #1abc9c;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

#tab-description .sub-title-product{
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    margin: 1.8em 0;
}

#tab-description .a-center{
    text-align: center;
}

#tab-description .i-features .item h4 i{
    display: block;
    font-size: 30px;
    margin: 0 0 8px;
    color: #20BD9E;
}

#tab-description .i-features .item h4{
    font-size: 18px;
    margin: 0px;
    font-weight: 600;
}

#tab-description .i-features .item p{
    font-size: 13px;
    line-height: 1.5;
}

#tab-description .i-features .item{
    margin: 0 0 1.68em;
}

#tab-description .price-detail .col-item{
    padding: 30px 20px 0px 20px;
}

@media (min-width: 1400px) {

    .single-product .edgtf-container-inner{
        width: 100%;
        max-width: 1800px;
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.edgtf-drop-down .second {
    border-top: none;
}
.edgtf-drop-down .wide .second .inner {
    background-color: #f9f9f9;
}

/* page background */
.edgtf-title-holder {
    background-size: cover;
}
#backcover{
    background-size: cover;
}
/* responsive 1200px */
@media only screen and (max-width: 1200px){
    .edgtf-mobile-header {
        display: block;
        position: relative;
        height: 100%;
    }
    .edgtf-page-header{
        display: none;
    }
}
/*footer-top  */
div#media_image-2{
    max-width: 230px;
}
div#text-4{
    margin-top: 20px;
}
div.edgtf-tweet-text{
    max-width: 250px;
}
/*Page Services  */
div.edgtf-eh-item.molile-app-border{
    border: solid;
}
.edgtf-row-grid-section-wrapper.edgtf-parallax-row-holder {
    background-size: cover;
}
/*Contact Form Footer  */
textarea.h-100{
    height: 100px;
}

.edgtf-st-title{
    font-size: 40px;
    line-height: 1.23em;
}