/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.edgtf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.edgtf-page-header a img {
  display: block;
}

.edgtf-page-header p {
  margin: 0;
}

.edgtf-page-header .edgtf-vertical-align-containers {
  padding: 0 40px;
}

.edgtf-paspartu-enabled .edgtf-page-header .edgtf-vertical-align-containers {
  padding: 0;
}

.edgtf-page-header .edgtf-grid {
  height: 100%;
}

.edgtf-page-header .edgtf-grid .edgtf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.edgtf-page-header .edgtf-logo-area {
  position: relative;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.edgtf-page-header .edgtf-logo-area .edgtf-logo-wrapper a {
  max-height: 90px;
}

.edgtf-page-header .edgtf-menu-area {
  position: relative;
  height: 90px;
  background-color: #fff;
  box-sizing: border-box;
}

.edgtf-boxed .edgtf-page-header .edgtf-menu-area {
  padding: 0;
}

.edgtf-page-header .edgtf-menu-area .edgtf-logo-wrapper a {
  max-height: 90px;
}

.edgtf-page-header .edgtf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.edgtf-logo-area-border-disable .edgtf-page-header .edgtf-logo-area {
  border: none;
}

.edgtf-logo-area-in-grid-border-disable .edgtf-page-header .edgtf-logo-area .edgtf-grid .edgtf-vertical-align-containers {
  border: none;
}

.edgtf-header-logo-area-in-grid-padding .edgtf-page-header .edgtf-logo-area .edgtf-vertical-align-containers {
  padding: 0 25px;
}

.edgtf-menu-area-shadow-disable .edgtf-page-header .edgtf-menu-area {
  box-shadow: none;
}

.edgtf-menu-area-shadow-disable .edgtf-page-header .edgtf-menu-area .edgtf-grid .edgtf-vertical-align-containers {
  box-shadow: none;
}

.edgtf-menu-area-border-disable .edgtf-page-header .edgtf-menu-area {
  border: none;
}

.edgtf-menu-area-in-grid-border-disable .edgtf-page-header .edgtf-menu-area .edgtf-grid .edgtf-vertical-align-containers {
  border: none;
}

.edgtf-header-logo-area-in-grid-padding .edgtf-page-header .edgtf-menu-area .edgtf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 1;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 0;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget p,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget span,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget i,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget p,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget span,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget i,
.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 1;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 0;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area {
  color: #333 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget {
  color: #333 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget p,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget span,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget i,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header) .edgtf-menu-area .widget a:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area {
  color: #333 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget {
  color: #333 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget p,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget span,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget i,
.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.fixed):not(.edgtf-sticky-header).edgtf-menu-area .widget a:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header widgets styles - begin
   ========================================================================== */
.edgtf-page-header .widget,
.edgtf-top-bar .widget,
.edgtf-sticky-header .widget,
.edgtf-mobile-header .widget {
  /* To display none */
}

.edgtf-page-header .widget.widget_pages, .edgtf-page-header .widget.widget_archive, .edgtf-page-header .widget.widget_categories, .edgtf-page-header .widget.widget_meta, .edgtf-page-header .widget.widget_recent_entries, .edgtf-page-header .widget.widget_recent_comments, .edgtf-page-header .widget.widget_rss, .edgtf-page-header .widget.widget_calendar, .edgtf-page-header .widget.widget_rss, .edgtf-page-header .widget.widget_archive, .edgtf-page-header .widget.widget_categories, .edgtf-page-header .widget.widget_tag_cloud, .edgtf-page-header .widget.widget_nav_menu, .edgtf-page-header .widget.widget_search,
.edgtf-top-bar .widget.widget_pages,
.edgtf-top-bar .widget.widget_archive,
.edgtf-top-bar .widget.widget_categories,
.edgtf-top-bar .widget.widget_meta,
.edgtf-top-bar .widget.widget_recent_entries,
.edgtf-top-bar .widget.widget_recent_comments,
.edgtf-top-bar .widget.widget_rss,
.edgtf-top-bar .widget.widget_calendar,
.edgtf-top-bar .widget.widget_rss,
.edgtf-top-bar .widget.widget_archive,
.edgtf-top-bar .widget.widget_categories,
.edgtf-top-bar .widget.widget_tag_cloud,
.edgtf-top-bar .widget.widget_nav_menu,
.edgtf-top-bar .widget.widget_search,
.edgtf-sticky-header .widget.widget_pages,
.edgtf-sticky-header .widget.widget_archive,
.edgtf-sticky-header .widget.widget_categories,
.edgtf-sticky-header .widget.widget_meta,
.edgtf-sticky-header .widget.widget_recent_entries,
.edgtf-sticky-header .widget.widget_recent_comments,
.edgtf-sticky-header .widget.widget_rss,
.edgtf-sticky-header .widget.widget_calendar,
.edgtf-sticky-header .widget.widget_rss,
.edgtf-sticky-header .widget.widget_archive,
.edgtf-sticky-header .widget.widget_categories,
.edgtf-sticky-header .widget.widget_tag_cloud,
.edgtf-sticky-header .widget.widget_nav_menu,
.edgtf-sticky-header .widget.widget_search,
.edgtf-mobile-header .widget.widget_pages,
.edgtf-mobile-header .widget.widget_archive,
.edgtf-mobile-header .widget.widget_categories,
.edgtf-mobile-header .widget.widget_meta,
.edgtf-mobile-header .widget.widget_recent_entries,
.edgtf-mobile-header .widget.widget_recent_comments,
.edgtf-mobile-header .widget.widget_rss,
.edgtf-mobile-header .widget.widget_calendar,
.edgtf-mobile-header .widget.widget_rss,
.edgtf-mobile-header .widget.widget_archive,
.edgtf-mobile-header .widget.widget_categories,
.edgtf-mobile-header .widget.widget_tag_cloud,
.edgtf-mobile-header .widget.widget_nav_menu,
.edgtf-mobile-header .widget.widget_search {
  display: none !important;
}

.edgtf-top-bar .widget {
  color: #fff;
}

.edgtf-top-bar .widget a {
  color: #fff;
}

.edgtf-top-bar .widget a:hover {
  color: #bb1a14;
}

/* ==========================================================================
   Header widgets styles - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.edgtf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.edgtf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.edgtf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.edgtf-logo-wrapper a img.edgtf-normal-logo {
  opacity: 1;
}

.edgtf-logo-wrapper a img.edgtf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.edgtf-logo-wrapper a img.edgtf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.edgtf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.edgtf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.edgtf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.edgtf-main-menu ul li a {
  font-size: 13px;
  line-height: 23px;
  color: #000;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 500;
}

.edgtf-main-menu ul li a:hover {
  color: #bb1a14;
}

.edgtf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.edgtf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-main-menu ul li a .edgtf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.edgtf-main-menu ul li a .edgtf-menu-featured-icon:before {
  margin: 0;
}

.edgtf-main-menu ul li a img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.edgtf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.edgtf-main-menu > ul > li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.edgtf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 24px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  text-transform: uppercase;
}

.edgtf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 5;
}

.edgtf-main-menu > ul > li > a > span.item_outer .item_text:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  left: -13px;
  height: 2px;
  width: calc(100% + 24px);
  background: #bdab85;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-main-menu > ul > li > a:hover {
  color: #000;
}

.edgtf-main-menu > ul > li > a:hover > span.item_outer .item_text:after {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-main-menu > ul > li.edgtf-active-item > a {
  color: #000;
}

.edgtf-main-menu > ul > li.edgtf-active-item > a > span.item_outer .item_text:after {
  opacity: 1;
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  left: -13px;
  height: 2px;
  width: calc(100% + 24px);
  background: #bdab85;
}

.edgtf-main-menu > ul > li.has_sub > a .edgtf-menu-arrow {
  display: none;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a {
  color: #fff;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li.edgtf-active-item > a {
  color: rgba(255, 255, 255, 0.8);
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a {
  color: #333;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li > a:hover {
  color: #333;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-main-menu > ul > li.edgtf-active-item > a {
  color: #333;
}

/* Narrow drop down styles
   ========================================================================== */
.edgtf-drop-down .second {
  position: absolute;
  display: block;
  left: -10px;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
  border-top: 2px solid #bb1a14;
  box-sizing: border-box;
}

.edgtf-drop-down .second.edgtf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-drop-down .second.right {
  right: 0;
  left: auto;
}

.edgtf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}

.edgtf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.edgtf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.edgtf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 7px 33px;
}

.edgtf-drop-down .second .inner ul li a:hover {
  color: #000;
}

.edgtf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.edgtf-drop-down .second .inner ul li a .item_outer:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2px;
  background-color: #bdab85;
  left: -20px;
  width: 13px;
  color: inherit;
  font-size: 18px;
  line-height: inherit;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.edgtf-drop-down .second .inner ul li a:hover .item_outer {
  padding: 0 10px 0 23px;
}

.edgtf-drop-down .second .inner ul li a:hover .item_outer:before {
  left: 4px;
}

.edgtf-drop-down .second .inner ul li.current-menu-ancestor > a,
.edgtf-drop-down .second .inner ul li.current-menu-item > a {
  color: #000;
}

.edgtf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer,
.edgtf-drop-down .second .inner ul li.current-menu-item > a .item_outer {
  padding: 0 10px 0 23px;
}

.edgtf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer:before,
.edgtf-drop-down .second .inner ul li.current-menu-item > a .item_outer:before {
  left: 4px;
}

.edgtf-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  right: 0;
  content: '\f3d3';
  font-family: 'Ionicons';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edgtf-drop-down .second .inner ul.right li a .item_outer {
  padding: 0 0 0 30px;
}

.edgtf-drop-down .second .inner ul.right li a .item_outer:before {
  left: auto;
  right: -20px;
  -webkit-transition: right 0.2s ease-in-out;
  -moz-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
}

.edgtf-drop-down .second .inner ul.right li a:hover .item_outer {
  padding: 0 23px 0 10px;
}

.edgtf-drop-down .second .inner ul.right li a:hover .item_outer:before {
  left: auto;
  right: 4px;
}

.edgtf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer,
.edgtf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer {
  padding: 0 23px 0 10px;
}

.edgtf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer:before,
.edgtf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer:before {
  left: auto;
  right: 4px;
}

.edgtf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: 0;
  content: "\f3d2";
}

.edgtf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.edgtf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.edgtf-drop-down li.left_position .second {
  left: 0;
}

.edgtf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.edgtf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.edgtf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 24px 0 26px;
}

.edgtf-drop-down .narrow .second .inner ul li {
  width: 239px;
}

.edgtf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -22px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  border-top: 2px solid #bb1a14;
  box-sizing: border-box;
}

.edgtf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.edgtf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.edgtf-drop-down .wide .second .inner {
  background-color: #fff;
  text-align: center;
}

.edgtf-drop-down .wide .second .inner ul li a {
  padding: 7px 0;
}

.edgtf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.edgtf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.edgtf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 40px 0;
  box-sizing: border-box;
  width: 100%;
}

.edgtf-wide-dropdown-menu-content-in-grid .edgtf-drop-down .wide .second .inner > ul {
  width: 1146px;
}

@media only screen and (min-width: 1400px) {
  .edgtf-grid-1300.edgtf-wide-dropdown-menu-content-in-grid .edgtf-drop-down .wide .second .inner > ul {
    width: 1346px;
  }
}

@media only screen and (min-width: 1367px) {
  .edgtf-grid-1200.edgtf-wide-dropdown-menu-content-in-grid .edgtf-drop-down .wide .second .inner > ul {
    width: 1246px;
  }
}

@media only screen and (min-width: 1200px) {
  .edgtf-grid-1000.edgtf-wide-dropdown-menu-content-in-grid .edgtf-drop-down .wide .second .inner > ul {
    width: 1046px;
  }
}

@media only screen and (min-width: 1024px) {
  .edgtf-grid-800.edgtf-wide-dropdown-menu-content-in-grid .edgtf-drop-down .wide .second .inner > ul {
    width: 846px;
  }
}

.edgtf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 23px;
  box-sizing: border-box;
}

.edgtf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
  border-left: 0;
}

.edgtf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 13px;
  color: #010101;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.025em;
  line-height: 1.1em;
}

.edgtf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.edgtf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.edgtf-drop-down .wide .second .inner > ul > li > a .item_outer:before, .edgtf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.edgtf-drop-down .wide .second .inner > ul > li.current-menu-ancestor > a,
.edgtf-drop-down .wide .second .inner > ul > li.current-menu-item > a {
  color: #010101;
}

.edgtf-drop-down .wide.left_position .second .inner > ul, .edgtf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.edgtf-drop-down .wide.left_position .second .inner > ul > li, .edgtf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.edgtf-drop-down .wide.left_position .second .inner > ul > li:nth-child(4n+1), .edgtf-drop-down .wide.right_position .second .inner > ul > li:nth-child(4n+1) {
  border-left: none;
}

.edgtf-drop-down .wide.left_position .second ul li, .edgtf-drop-down .wide.right_position .second ul li {
  width: 200px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.edgtf-page-header .edgtf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .edgtf-page-header .edgtf-fixed-wrapper.fixed {
  top: 32px;
}

.edgtf-page-header .edgtf-fixed-wrapper.fixed .edgtf-menu-area {
  background-color: #fff;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */
/* Fullscreen general style - begin
========================================================================== */
.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener {
  color: #333;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener:hover, .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener.edgtf-fm-opened {
  color: rgba(51, 51, 51, 0.8);
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener {
  color: #fff;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener:hover, .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-fullscreen-menu-opener.edgtf-fm-opened {
  color: rgba(255, 255, 255, 0.8);
}

.edgtf-fullscreen-menu-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.edgtf-fullscreen-menu-opener:hover, .edgtf-fullscreen-menu-opener.edgtf-fm-opened {
  color: #bb1a14;
}

.edgtf-fullscreen-menu-opener .edgtf-fullscreen-menu-opener-icon {
  opacity: 1;
  position: relative;
}

.edgtf-fullscreen-menu-opener .edgtf-fullscreen-menu-close-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.edgtf-fullscreen-menu-opener.edgtf-fm-opened .edgtf-fullscreen-menu-opener-icon {
  opacity: 0;
}

.edgtf-fullscreen-menu-opener.edgtf-fm-opened .edgtf-fullscreen-menu-close-icon {
  opacity: 1;
}

.edgtf-fullscreen-menu-opener.edgtf-fullscreen-menu-opener-icon-pack {
  font-size: 25px;
}

.edgtf-fullscreen-menu-opener.edgtf-fullscreen-menu-opener-icon-pack * {
  display: inline-block;
  line-height: inherit;
}

.edgtf-fullscreen-menu-opener.edgtf-fullscreen-menu-opener-icon-pack *:before {
  display: inline-block;
  line-height: inherit;
}

.edgtf-fullscreen-menu-opener.edgtf-fullscreen-menu-opener-svg-path span {
  position: relative;
}

.edgtf-fullscreen-menu-opener.edgtf-fullscreen-menu-opener-svg-path span > * {
  vertical-align: middle;
}

.edgtf-fullscreen-menu-opener.edgtf-fullscreen-menu-opener-svg-path span > *,
.edgtf-fullscreen-menu-opener.edgtf-fullscreen-menu-opener-svg-path span path {
  fill: currentColor;
  stroke: currentColor;
}

.edgtf-fullscreen-menu-opened .edgtf-page-header,
.edgtf-fullscreen-menu-opened .edgtf-top-bar {
  visibility: hidden;
}

.edgtf-fullscreen-menu-opened .edgtf-fullscreen-menu-opener,
.edgtf-fullscreen-menu-opened .edgtf-logo-wrapper {
  visibility: visible;
}

.edgtf-fullscreen-menu-opened .edgtf-fullscreen-menu-holder-outer {
  visibility: visible !important;
  opacity: 1 !important;
}

.edgtf-fullscreen-menu-holder-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  visibility: hidden;
  opacity: 0;
  z-index: 105;
  /* this has to be between header z-index and content z-index */
}

.edgtf-fullscreen-menu-holder {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: table;
  background-repeat: repeat;
  background-position: 0 0;
}

.edgtf-fullscreen-menu-holder-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 0;
}

.touch .edgtf-fullscreen-menu-holder-outer {
  display: none;
}

.touch .edgtf-fullscreen-menu-opened .edgtf-fullscreen-menu-holder-outer {
  display: block;
}

nav.edgtf-fullscreen-menu {
  position: relative;
  top: 0;
  margin: 0 auto;
  text-align: left;
}

nav.edgtf-fullscreen-menu ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.edgtf-fullscreen-menu ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.edgtf-fullscreen-menu ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0;
  font-size: 24px;
  letter-spacing: -.025em;
  line-height: 1.3em;
  font-weight: 700;
}

nav.edgtf-fullscreen-menu ul li a span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

nav.edgtf-fullscreen-menu ul li a .edgtf-fullscreen-menu-arrow {
  display: none;
}

nav.edgtf-fullscreen-menu ul li ul {
  padding: 0;
}

nav.edgtf-fullscreen-menu ul li ul.sub_menu {
  display: none;
}

nav.edgtf-fullscreen-menu ul li ul li.current-menu-ancestor > a,
nav.edgtf-fullscreen-menu ul li ul li.current-menu-item > a {
  color: #bb1a14;
}

nav.edgtf-fullscreen-menu ul li ul li ul li a {
  font-size: 20px;
}

nav.edgtf-fullscreen-menu > ul {
  display: block;
}

nav.edgtf-fullscreen-menu > ul > li > a {
  font-size: 40px;
}

nav.edgtf-fullscreen-menu > ul > li.edgtf-active-item > a {
  color: #bb1a14;
}

.edgtf-fullscreen-below-menu-widget-holder {
  text-align: center;
  margin-top: 20px;
}

.edgtf-fullscreen-above-menu-widget-holder {
  text-align: center;
}

/* Fullscreen general style - end
========================================================================== */
/* Fullscreen fade animations general - begin
========================================================================== */
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer,
.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden !important;
  z-index: 105;
  opacity: 0;
}

.edgtf-fullscreen-fade-out .edgtf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_out .25s linear both;
  -moz-animation: fade_out .25s linear both;
  animation: fade_out .25s linear both;
}

.edgtf-fullscreen-menu-opened.edgtf-fullscreen-fade-in .edgtf-fullscreen-menu-holder-outer {
  -webkit-animation: fade_in .25s linear both;
  -moz-animation: fade_in .25s linear both;
  animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */
/* Fullscreen animation push text right - begin
========================================================================== */
@-webkit-keyframes push_text_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_text_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_text_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes push_nav_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_nav_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_nav_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer nav > ul > li > a,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder > div,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  -moz-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}

.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-push-text-right.edgtf-push-nav-right .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
}

/* Fullscreen animation push text right - end
========================================================================== */
/* Fullscreen animation push text top - begin
========================================================================== */
@-webkit-keyframes push_text_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes push_text_top {
  0% {
    opacity: 0;
    -moz-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes push_text_top {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer nav > ul > li > a,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder > div,
.edgtf-fullscreen-menu-opened.edgtf-fade-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_top 0.4s ease-out both 0.5s;
  -moz-animation: push_text_top 0.4s ease-out both 0.5s;
  animation: push_text_top 0.4s ease-out both 0.5s;
}

.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-push-text-top.edgtf-push-text-top .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

/* Fullscreen animation push text top - end
========================================================================== */
/* Fullscreen animation fade text scaledown - begin
========================================================================== */
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fullscreen-menu-opened.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer nav,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-below-menu-widget-holder,
.edgtf-fade-text-scaledown .edgtf-fullscreen-menu-holder-outer .edgtf-fullscreen-above-menu-widget-holder {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */
/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/
/* ==========================================================================
   Header Minimal style - begin
   ========================================================================== */
.edgtf-header-minimal .edgtf-page-header .edgtf-menu-area .edgtf-position-right-inner {
  height: auto;
}

.edgtf-header-minimal .edgtf-page-header .edgtf-position-left:before,
.edgtf-header-minimal .edgtf-page-header .edgtf-position-right:before {
  content: "";
}

.edgtf-header-minimal .edgtf-page-header .edgtf-sticky-header .edgtf-position-left-inner {
  height: auto;
}

.edgtf-header-minimal .edgtf-page-header .edgtf-sticky-header .edgtf-vertical-align-containers .edgtf-position-right .edgtf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Minimal style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-left-inner {
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-left:before,
.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-center-inner {
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-right .edgtf-main-menu {
  width: auto;
}

.edgtf-header-standard .edgtf-menu-area.edgtf-menu-right .edgtf-vertical-align-containers .edgtf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Header Vertical style - begin
   ========================================================================== */
/* ==========================================================================
   Header Vertical navigation style - begin
   ========================================================================== */
.edgtf-header-vertical .edgtf-vertical-alignment-center .edgtf-vertical-menu-outer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 100px 0;
}

.edgtf-header-vertical .edgtf-vertical-alignment-center .edgtf-vertical-menu {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.edgtf-header-vertical .edgtf-vertical-alignment-center .edgtf-vertical-menu > ul {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.edgtf-header-vertical .edgtf-vertical-menu-outer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.edgtf-header-vertical .edgtf-vertical-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 58px 0 31px;
  padding: 0;
  z-index: 100;
}

.edgtf-header-vertical .edgtf-vertical-menu ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li {
  position: relative;
  padding: 0;
  margin: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a {
  font-size: 13px;
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 0;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  line-height: 23px;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .item_outer {
  position: relative;
  display: block;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .item_outer:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2px;
  background-color: #bdab85;
  left: -20px;
  width: 13px;
  color: inherit;
  font-size: 18px;
  line-height: inherit;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover {
  color: #000;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover .item_outer {
  padding: 0 0px 0 19px;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover .item_outer:before {
  left: 1px;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .edgtf-menu-arrow {
  position: absolute;
  top: -1px;
  right: -7px;
  line-height: inherit;
  color: #333;
  margin: 0;
  font-size: 19px;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .edgtf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 3px;
  color: #000;
  font-size: 12px;
  margin: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li a .menu_icon:not(.blank):not(.null) {
  padding: 0 5px 0 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-ancestor > a,
.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-item > a {
  color: #000;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-ancestor > a .item_outer,
.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-item > a .item_outer {
  padding: 0 0px 0 19px;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-ancestor > a .item_outer:before,
.edgtf-header-vertical .edgtf-vertical-menu ul li.current-menu-item > a .item_outer:before {
  left: 1px;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li ul {
  padding: 3px 0;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.sub > a .item_outer {
  position: relative;
  display: block;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.sub > a .item_outer:after {
  position: absolute;
  top: 1px;
  right: 0;
  margin: 0;
  content: '\f3d3';
  font-family: Ionicons;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.edgtf-header-vertical .edgtf-vertical-menu ul li .second {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

.edgtf-header-vertical .edgtf-vertical-menu ul li .second .inner {
  position: relative;
  display: block;
  padding: 0;
  z-index: 997;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a .item_outer:before, .edgtf-header-vertical .edgtf-vertical-menu > ul > li > a .item_outer:after {
  display: none;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a span.item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 5;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a span.item_text:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  left: -8px;
  height: 2px;
  width: calc(100% + 16px);
  background: #bdab85;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a:hover {
  color: #000;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a:hover > span.item_outer {
  padding: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li > a:hover > span.item_outer .item_text:after {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li.edgtf-active-item > a,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current_page_item > a,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-item > a,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-ancestor > a {
  color: #000;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li.edgtf-active-item > a > span.item_outer,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current_page_item > a > span.item_outer,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-item > a > span.item_outer,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-ancestor > a > span.item_outer {
  padding: 0;
}

.edgtf-header-vertical .edgtf-vertical-menu > ul > li.edgtf-active-item > a > span.item_outer .item_text:after,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current_page_item > a > span.item_outer .item_text:after,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-item > a > span.item_outer .item_text:after,
.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-ancestor > a > span.item_outer .item_text:after {
  opacity: 1;
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  left: -8px;
  height: 2px;
  width: calc(100% + 16px);
  background: #bdab85;
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li a:hover .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li.edgtf-active-item > a .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li.current_page_item > a .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li.current-menu-item > a .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li.current-menu-ancestor > a .edgtf-menu-arrow {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li .second {
  display: none;
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li ul li.sub a:hover .item_outer:after,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li ul li.sub.open > a .item_outer:after,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li ul li.sub.current_page_item > a .item_outer:after,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li ul li.sub.current_page_item > a .item_outer:after,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-below ul li ul li.sub.current-menu-ancestor > a .item_outer:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side a:hover .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side.edgtf-active-item > a .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side.current_page_item > a .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side.current-menu-item > a .edgtf-menu-arrow,
.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side.current-menu-ancestor > a .edgtf-menu-arrow {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side .second {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side .second ul {
  position: absolute;
  top: -17px;
  left: calc(100% + 59px);
  width: 212px;
  background-color: #fff;
  padding: 20px 34px 21px;
  margin-left: 50px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side .second ul * {
  visibility: inherit;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side .second ul.edgtf-float-open {
  border-left: 2px solid #bb1a14;
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.edgtf-header-vertical .edgtf-vertical-menu.edgtf-vertical-dropdown-side .second ul ul {
  top: -20px;
  left: calc(100% + 34px);
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li a {
  color: #fff !important;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current_page_item > a,
.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-item > a,
.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-ancestor > a {
  color: rgba(255, 255, 255, 0.8) !important;
}

.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.edgtf-active-item > a,
.edgtf-light-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-ancestor > a {
  color: rgba(255, 255, 255, 0.8) !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li a {
  color: #333 !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li a:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current_page_item > a,
.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-item > a,
.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu ul li ul li.current-menu-ancestor > a {
  color: rgba(51, 51, 51, 0.8) !important;
}

.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.edgtf-active-item > a,
.edgtf-dark-header.edgtf-header-vertical .edgtf-vertical-menu > ul > li.current-menu-ancestor > a {
  color: rgba(51, 51, 51, 0.8) !important;
}

/* ==========================================================================
   Header Vertical navigation style - end
   ========================================================================== */
.edgtf-header-vertical .edgtf-vertical-area-widget-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 10px 0 0;
  z-index: 100;
}

.edgtf-header-vertical .edgtf-vertical-alignment-center .edgtf-vertical-area-widget-holder {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.edgtf-header-vertical.admin-bar .edgtf-vertical-menu-area {
  top: 32px;
  height: calc(100% - 32px);
}

.edgtf-header-vertical .edgtf-content,
.edgtf-header-vertical footer {
  padding-left: 300px;
  box-sizing: border-box;
}

.edgtf-header-vertical .edgtf-vertical-menu-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 53px 60px 10px;
  background-color: transparent;
  outline: none;
  z-index: 101;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
}

.edgtf-header-vertical .edgtf-vertical-menu-area.edgtf-with-scroll {
  overflow: hidden;
}

.edgtf-header-vertical .edgtf-vertical-menu-area-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.edgtf-header-vertical .edgtf-vertical-menu-area-inner.edgtf-vertical-align-left {
  text-align: left;
}

.edgtf-header-vertical .edgtf-vertical-menu-area-inner.edgtf-vertical-align-center {
  text-align: center;
}

.edgtf-header-vertical .edgtf-vertical-menu-area-inner.edgtf-vertical-align-center .edgtf-logo-wrapper img {
  margin: 0 auto;
}

.edgtf-header-vertical .edgtf-logo-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
}

.edgtf-header-vertical .edgtf-logo-wrapper a {
  display: block;
  position: relative;
  height: 100%;
}

.edgtf-header-vertical .edgtf-logo-wrapper img {
  display: block;
  height: auto;
  max-height: 100%;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.edgtf-header-vertical .edgtf-vertical-area-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease, background-color 0.5s ease;
  -moz-transition: opacity 0.5s ease, background-color 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease;
}

.edgtf-header-vertical.edgtf-header-vertical-shadow-disable .edgtf-vertical-area-background {
  box-shadow: none;
}

.edgtf-header-vertical.edgtf-header-vertical-border-disable .edgtf-vertical-area-background {
  border: none;
}

.edgtf-light-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 1;
}

.edgtf-light-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-light-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 0;
}

.edgtf-dark-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-dark-logo {
  opacity: 1;
}

.edgtf-dark-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-normal-logo,
.edgtf-dark-header .edgtf-vertical-menu-area .edgtf-logo-wrapper .edgtf-light-logo {
  opacity: 0;
}

/* ==========================================================================
   Header Vertical style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.edgtf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.edgtf-mobile-header .edgtf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.edgtf-mobile-header .edgtf-mobile-header-inner .edgtf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.edgtf-mobile-header .edgtf-grid {
  height: 100%;
}

.edgtf-mobile-header .edgtf-vertical-align-containers {
  padding: 0;
}

.edgtf-mobile-header .edgtf-mobile-logo-wrapper a {
  display: block;
}

.edgtf-mobile-header .edgtf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener a .edgtf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opened a {
  color: #bb1a14;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opener-icon-pack .edgtf-mobile-menu-icon {
  font-size: 21px;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opener-icon-pack .edgtf-mobile-menu-icon * {
  display: block;
  line-height: inherit;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opener-icon-pack .edgtf-mobile-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opener-svg-path .edgtf-mobile-menu-icon > * {
  vertical-align: middle;
}

.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opener-svg-path .edgtf-mobile-menu-icon > *,
.edgtf-mobile-header .edgtf-mobile-menu-opener.edgtf-mobile-menu-opener-svg-path .edgtf-mobile-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.edgtf-mobile-header .edgtf-mobile-nav {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.edgtf-mobile-header .edgtf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.edgtf-mobile-header .edgtf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
}

.edgtf-mobile-header .edgtf-mobile-nav ul li a, .edgtf-mobile-header .edgtf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  color: #4c4b4b;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

.edgtf-mobile-header .edgtf-mobile-nav ul li a:hover, .edgtf-mobile-header .edgtf-mobile-nav ul li h6:hover {
  color: #bb1a14;
}

.edgtf-mobile-header .edgtf-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-ancestor > a,
.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-item > a,
.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-ancestor > h6,
.edgtf-mobile-header .edgtf-mobile-nav ul ul li.current-menu-item > h6 {
  color: #bb1a14;
}

.edgtf-mobile-header .edgtf-mobile-nav ul ul li a, .edgtf-mobile-header .edgtf-mobile-nav ul ul li h6 {
  line-height: 24px;
}

.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li > a,
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li > h6 {
  padding-left: 4px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li.edgtf-active-item > a,
.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li.edgtf-active-item > h6 {
  color: #bb1a14;
}

.edgtf-mobile-header .edgtf-mobile-nav .edgtf-grid > ul > li.edgtf-active-item > .mobile_arrow > .edgtf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
  padding: 9px 12px 9px 0;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
  box-sizing: border-box;
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow .edgtf-sub-arrow {
  line-height: 1;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.edgtf-mobile-header .edgtf-mobile-nav .mobile_arrow .fa-angle-down {
  display: none;
}

.edgtf-mobile-header .edgtf-mobile-nav li.edgtf-opened > .mobile_arrow > .edgtf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.edgtf-mobile-header .edgtf-mobile-nav > ul > li:last-child > a,
.edgtf-mobile-header .edgtf-mobile-nav > .edgtf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.edgtf-sticky-up-mobile-header .edgtf-animate-mobile-header .edgtf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.edgtf-sticky-up-mobile-header .mobile-header-appear .edgtf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.edgtf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.edgtf-sticky-header .edgtf-grid {
  height: 100% !important;
}

.edgtf-sticky-header.header-appear {
  transform: translateY(0%);
}

.admin-bar .edgtf-sticky-header.header-appear {
  top: 32px;
}

.edgtf-sticky-header .edgtf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  box-sizing: border-box;
}

.edgtf-sticky-header .edgtf-sticky-holder .edgtf-logo-wrapper a {
  max-height: 70px;
}

.edgtf-sticky-header .edgtf-sticky-holder .edgtf-vertical-align-containers {
  padding: 0 40px;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-left .edgtf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-left-inner {
  height: 100%;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-left .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-center-inner {
  height: 100%;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-center .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-right .edgtf-main-menu {
  width: auto;
}

.edgtf-sticky-header .edgtf-sticky-holder.edgtf-menu-right .edgtf-vertical-align-containers .edgtf-position-right-inner {
  height: 100%;
}

.edgtf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.edgtf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 50px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  background-color: #303030;
  z-index: 111;
  box-sizing: border-box;
}

.edgtf-top-bar > .edgtf-vertical-align-containers {
  padding: 0 40px;
}

.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-left:before,
.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-right:before {
  display: none;
}

.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-left-inner,
.edgtf-top-bar .edgtf-vertical-align-containers .edgtf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.edgtf-top-bar .edgtf-grid {
  height: 100%;
}

.edgtf-top-bar .edgtf-grid .edgtf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.edgtf-top-bar-in-grid-padding .edgtf-top-bar .edgtf-grid .edgtf-vertical-align-containers {
  padding: 0 40px;
}

.edgtf-top-bar .widget {
  margin: 0;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
